# Non-secret KVM/K3s lab configuration.
LAB_NAME=k3s-dev-01
ADMIN_USER=developer
SSH_PUBLIC_KEY_FILE=/home/developer/.ssh/id_ed25519_sk.pub
SSH_PRIVATE_KEY_FILE=/home/developer/.ssh/id_ed25519_sk
SSH_KNOWN_HOSTS_FILE=/home/developer/.ssh/known_hosts.k3s
VM_VCPUS=8
VM_MEMORY_MIB=16384
VM_SYSTEM_DISK_GIB=80
VM_DATA_DISK_GIB=120
VM_POOL_DIR=/var/lib/libvirt/images/k3s-dev-01
MGMT_NETWORK_NAME=k3s-mgmt
MGMT_BRIDGE=virbr124
MGMT_CIDR=192.168.124.0/24
MGMT_GATEWAY=192.168.124.1
MGMT_IP=192.168.124.10
MGMT_FQDN=k3s-dev-01.mgmt.example.test
MGMT_MAC=52:54:00:00:01:10
DMZ_PARENT=REPLACE_DMZ_PARENT
DMZ_VLAN_ID=REPLACE_VLAN_ID
DMZ_VLAN_INTERFACE=k3sdmzvlan
DMZ_BRIDGE=br-k3s-dmz
DMZ_IPV4=REPLACE_DMZ_IPV4_CIDR
DMZ_IPV4_GATEWAY=REPLACE_DMZ_IPV4_GATEWAY
DMZ_IPV6=REPLACE_DMZ_IPV6_CIDR
DMZ_IPV6_GATEWAY=REPLACE_DMZ_IPV6_GATEWAY
DMZ_MAC=52:54:00:00:02:10
MGMT_INTERFACE=enp1s0
DMZ_INTERFACE=enp2s0
CLUSTER_CIDR=10.42.0.0/16
SERVICE_CIDR=10.43.0.0/16
# Cluster DNS is derived as SERVICE_CIDR's network address plus ten.
DOMAIN=REPLACE_DOMAIN
ACME_EMAIL=REPLACE_EMAIL
ROUTE53_ZONE_ID=REPLACE_DELEGATED_ZONE_ID
AWS_REGION=eu-west-2
RESTIC_BUCKET=REPLACE_BUCKET
